.cell{
  height: 5rem;
  width: 5rem;
  margin: 5px;
  /* background-color: purple; */
  border-radius: 15px;
  display :inline-block;
  text-align: center;
}

.cell:hover{
  /* background-color: blue; */
  cursor: pointer;
}

.main-table {
  border-collapse: collapse;
  border-style: hidden;
}
.main-table .main-td {
  border-style: solid;
  border-width: thick;
  border-color: black;
}

body{
  background-color: orange;
  margin-top: 70px;
  
}

.navbar{
  background-color: #292b2c;
}

.navbar-button{
  margin: auto 0 auto auto;
}

.main-area{
  margin-top: 100px;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: thick;
  border-radius: 50px;
  color: black;
}


/* cell-mode{
  height: 5px;
  width: 5px;
  border-radius: 25px;
  display: inline;
  cursor: crosshair;
  font-size: large;
  color: white;
} */

.content{
  padding:50px;
}

.score-board{
  margin: 25px auto;
  padding: 20px;
  color: black;
}

.score-cell-unselected{
  background-color: whitesmoke;
    border-style: solid;
  border-color: black;
  border-width: thin;
  color: black;
  border-radius: 25px;
}

.score-value{
  font-size: 3.5rem;

}

.score-cell-selected{
  background-color: teal;
  border-style: hidden;
  text-align: left;
  color: white;
  border-radius: 25px;
}



.colour-palette{
  background-color: #f7f7f7;
  margin-top: 4.52rem;
}

.colour{
  margin: 1rem 1rem;
  cursor: pointer;
}

.colour:hover{
  border-style: dotted;
  border-color: black;
  border-width: thick;
  border-radius: 25px;
  
}

/* .border{
    border-style: solid;
  border-width: thick;
  border-radius: 25px;
} */

.player{
 
  height: 10rem;
  width: 10rem;
  border-radius: 30px;
}

.player-unselected{
  /* background-color: blue; */
  /* border-color: black;*/
/* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */ 
  border-style: solid;
  border-color: white;
  color: white;
  cursor: pointer;
}

.player-selected{ 

  /* border-radius: 30px; */
  border-style: hidden;
  color: black; 
  background-image: rgba(216,225,231,1);
  background-image: -moz-linear-gradient(45deg, rgba(216,225,231,1) 0%, rgba(216,225,231,1) 20%, rgba(242,246,248,1) 29%, rgba(216,225,231,1) 38%, rgba(181,198,208,1) 71%, rgba(224,239,249,1) 85%, rgba(224,239,249,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(216,225,231,1) 0%, rgba(216,225,231,1) 20%, rgba(242,246,248,1) 29%, rgba(216,225,231,1) 38%, rgba(181,198,208,1) 71%, rgba(224,239,249,1) 85%, rgba(224,239,249,1) 100%);
  background: -o-linear-gradient(45deg, rgba(216,225,231,1) 0%, rgba(216,225,231,1) 20%, rgba(242,246,248,1) 29%, rgba(216,225,231,1) 38%, rgba(181,198,208,1) 71%, rgba(224,239,249,1) 85%, rgba(224,239,249,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(216,225,231,1) 0%, rgba(216,225,231,1) 20%, rgba(242,246,248,1) 29%, rgba(216,225,231,1) 38%, rgba(181,198,208,1) 71%, rgba(224,239,249,1) 85%, rgba(224,239,249,1) 100%);
  background-image: linear-gradient(45deg, rgba(216,225,231,1) 0%, rgba(216,225,231,1) 20%, rgba(242,246,248,1) 29%, rgba(216,225,231,1) 38%, rgba(181,198,208,1) 71%, rgba(224,239,249,1) 85%, rgba(224,239,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e1e7', endColorstr='#e0eff9', GradientType=1 );
  
}

.box-shadow-left{
  box-shadow: -0.5rem .5rem .5rem grey;
}

.box-shadow-right{
  box-shadow: 0.5rem .5rem .5rem grey;
}
